<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>
    <div id="settings-content">
        <!-- Your settings form and controls here -->
        <h2>Settings</h2>
        <form id="settings-form">
            <label for="fuzzyness">Fuzzyness:</label>
            <input type="range" id="fuzzyness" name="fuzzyness" min="1" max="5" value="1" step="1"><br><br>
            <button type="submit">Save</button>
        </form>
    </div>
    <script src="js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script>
        const { ipcRenderer } = require('electron');
        const urlParams = new URLSearchParams(window.location.search);
        var fuzzyness = parseInt(urlParams.get('fuzzyness'), 10);

        $(document).ready(function() {
            $('#fuzzyness').prop('value', fuzzyness)
            $('#settings-form').on('submit', function(e) {
                e.preventDefault();
                const data = $('#fuzzyness').prop('value');
                // Send the updated settings to the main process
                ipcRenderer.send('save-settings', data );
            });
        });
    </script>
</body>
</html>